/*
***
** NAME PROJECT
***
**  CSS TABLE OF CONTENTS
**
**  1.0 - Variables
**  2.0 - Reset
**  3.0 - Fonts
**  4.0 - Globals
**  5.0 - Header
**  6.0 - Footer
**  7.0 - HOME
**  8.0 - ABOUT
**  -1 - Responsive Responsive
**
****
*/

/* ==========================================================================
   1.0  Variables
   ========================================================================== */
:root {
  --cream1: #f7f7f2;
  --cream2: #bfbfbf;
  --black: #000000;
  --grey: #222222;
  --grey1: #545454;
  --grey2: #6f7482;
  --grey3: #b8bcca;
  --grey4: #bdbdbd;
  --grey5: #bfbfbf;
  --grey6: #d3d3d3;
  --grey7: #d9d9d9;
  --blu: #20b7ca;
  --n: #c9c9c9;
}
/* ==========================================================================
  2.0 - Reset
   ========================================================================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ==========================================================================
  3.0 - Fonts
   ========================================================================== */
body * {
  font-family: "Montserrat", sans-serif;
}
/* ==========================================================================
  4.0 - Globals
   ========================================================================== */
body {
  background-color: var(--cream1);
}
.main {
  background: linear-gradient(
    135deg,
    rgba(201, 201, 201, 1) 0%,
    rgba(196, 196, 196, 0.17) 92%,
    rgba(196, 196, 196, 0.13) 96%,
    rgba(0, 0, 0, 0.1) 100%
  );
  margin: 50px auto;
  border-color: var(--grey2);
  width: 25vw;
  border-radius: 25px;
  padding: 30px;
  gap: 25px;
}
form {
  width: 100%;
  font-size: 15px;
 
}
.form-label {
  margin: 0;
  font-style: var(--grey2);
  
}
.item {
  display: flex;
}
imput {
  width: 100%;
  border-radius: 15px;
  border-color: var(--grey1);
}
.btn-login {
  background-color: var(--blu);
  margin: 15px auto;
  padding: 10px;
}
.btnMenu {
  font-size: 14px;
  background-color: var(--grey4);
  width: 200px;
  padding: 8px;
}
.btn-menu{
  background-color: var(--blu);
}
p {
  text-align: center;
}
main.site-main {
  padding-top: 110px;
}
.site-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ==========================================================================
   5.0 - Header
   ========================================================================== */
header.site-header {
  position: fixed;
  top: 14px;
  width: 100%;
}
.container-header {
  background-image: linear-gradient(
    to right,
    rgba(191, 191, 191, 0.5),
    rgba(191, 191, 191, 1)
  );
  margin: 30px auto;
  height: 70px;
  width: 90%;
  border-radius: 20px;
}
svg {
  height: 50px;
  width: auto;
}

button {
  border: none;
  background-color: transparent;
  font-size: 16px;
}
.btn {
  font-size: 16px;
}

ul {
  list-style: none;
  margin-bottom: 0;
  gap: 15px;
}
.list-container {
  display: flex;
  flex-direction: row;
}
/* ==========================================================================
  6.0 - Footer
   ========================================================================== */
footer.site-footer {
  position: fixed;
  width: 100%;
  bottom: 14px;
}
.container-footer {
  font-size: 15px;
  padding-top: 50px;
}
/* ==========================================================================
  7.0 - HOME
   ========================================================================== */

/* ==========================================================================
  -1 - Responsive
   ========================================================================== */
/* XXX-Large devices (large desktops, less than 1800px) */

@media (max-width: 1799.98px) {
  /* ==========================================================================
     1.0  Variables
     ========================================================================== */
  /* ==========================================================================
      2.0 - Reset
       ========================================================================== */
  /* ==========================================================================
      3.0 - Fonts
       ========================================================================== */
  /* ==========================================================================
      4.0 - Globals
       ========================================================================== */
  /* ==========================================================================
       5.0 - Header
       ========================================================================== */
  /* ==========================================================================
      6.0 - Footer
       ========================================================================== */
  /* ==========================================================================
      7.0 - HOME
       ========================================================================== */
}

/* XX-Large devices (large desktops, less than 1600px) */

@media (max-width: 1599.98px) {
  /* ==========================================================================
     1.0  Variables
     ========================================================================== */
  /* ==========================================================================
    2.0 - Reset
     ========================================================================== */
  /* ==========================================================================
    3.0 - Fonts
     ========================================================================== */
  /* ==========================================================================
    4.0 - Globals
     ========================================================================== */
  /* ==========================================================================
     5.0 - Header
     ========================================================================== */
  /* ==========================================================================
    6.0 - Footer
     ========================================================================== */
  /* ==========================================================================
    7.0 - HOME
     ========================================================================== */
}

/* X-Large devices (large desktops, less than 1400px) */

@media (max-width: 1399.98px) {
  /* ==========================================================================
     1.0  Variables
     ========================================================================== */
  /* ==========================================================================
    2.0 - Reset
     ========================================================================== */
  /* ==========================================================================
    3.0 - Fonts
     ========================================================================== */
  /* ==========================================================================
    4.0 - Globals
     ========================================================================== */
  /* ==========================================================================
     5.0 - Header
     ========================================================================== */
  /* ==========================================================================
    6.0 - Footer
     ========================================================================== */
  /* ==========================================================================
    7.0 - HOME
     ========================================================================== */
}

/* Large devices (desktops, less than 1200px) */

@media (max-width: 1199.98px) {
  /* ==========================================================================
     1.0  Variables
     ========================================================================== */
  /* ==========================================================================
    2.0 - Reset
     ========================================================================== */
  /* ==========================================================================
    3.0 - Fonts
     ========================================================================== */
  /* ==========================================================================
    4.0 - Globals
     ========================================================================== */
  /* ==========================================================================
     5.0 - Header
     ========================================================================== */
  /* ==========================================================================
    6.0 - Footer
     ========================================================================== */
  /* ==========================================================================
    7.0 - HOME
     ========================================================================== */
}

/* Medium devices (tablets, less than 992px) */

@media (max-width: 991.98px) {
  /* ==========================================================================
     1.0  Variables
     ========================================================================== */
  /* ==========================================================================
    2.0 - Reset
     ========================================================================== */
  /* ==========================================================================
    3.0 - Fonts
     ========================================================================== */
  /* ==========================================================================
    4.0 - Globals
     ========================================================================== */
  /* ==========================================================================
     5.0 - Header
     ========================================================================== */
  /* ==========================================================================
    6.0 - Footer
     ========================================================================== */
  /* ==========================================================================
    7.0 - HOME
     ========================================================================== */
}

/* Small devices (landscape phones, less than 768px) */

@media (max-width: 768.98px) {
  /* ==========================================================================
     1.0  Variables
     ========================================================================== */
  /* ==========================================================================
    2.0 - Reset
     ========================================================================== */
  /* ==========================================================================
    3.0 - Fonts
     ========================================================================== */
  /* ==========================================================================
    4.0 - Globals
     ========================================================================== */
  /* ==========================================================================
     5.0 - Header
     ========================================================================== */
  /* ==========================================================================
    6.0 - Footer
     ========================================================================== */
  /* ==========================================================================
    7.0 - HOME
     ========================================================================== */
}

/* Small applies to x-small devices (portrait phones, less than 576px) */

@media (max-width: 575.98px) {
  /* ==========================================================================
     1.0  Variables
     ========================================================================== */
  /* ==========================================================================
    2.0 - Reset
     ========================================================================== */
  /* ==========================================================================
    3.0 - Fonts
     ========================================================================== */
  /* ==========================================================================
    4.0 - Globals
     ========================================================================== */
  /* ==========================================================================
     5.0 - Header
     ========================================================================== */
  /* ==========================================================================
    6.0 - Footer
     ========================================================================== */
  /* ==========================================================================
    7.0 - HOME
     ========================================================================== */
}

/* Small applies to x-small devices (portrait phones, less than 321px) */

@media (max-width: 320.98px) {
  /* ==========================================================================
     1.0  Variables
     ========================================================================== */
  /* ==========================================================================
    2.0 - Reset
     ========================================================================== */
  /* ==========================================================================
    3.0 - Fonts
     ========================================================================== */
  /* ==========================================================================
    4.0 - Globals
     ========================================================================== */
  /* ==========================================================================
     5.0 - Header
     ========================================================================== */
  /* ==========================================================================
    6.0 - Footer
     ========================================================================== */
  /* ==========================================================================
    7.0 - HOME
     ========================================================================== */
}