/*
***
** NAME PROJECT
***
**  CSS TABLE OF CONTENTS
**
**  1.0 - Variables
**  2.0 - Reset
**  3.0 - Fonts
**  4.0 - Globals
**  5.0 - Header
**  6.0 - Footer
**  7.0 - HOME
**  8.0 - ABOUT
**  -1 - Responsive Responsive
**
****
*/


/* ==========================================================================
   1.0  Variables
   ========================================================================== */
/* ==========================================================================
  2.0 - Reset
   ========================================================================== */
*{
    border: 0px;
    margin: 0 auto;
    box-sizing: border-box;
}



/* ==========================================================================
  3.0 - Fonts
   ========================================================================== */
/* ==========================================================================
  4.0 - Globals
   ========================================================================== */
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 90%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

/* ==========================================================================
   5.0 - Header
   ========================================================================== */
/* ==========================================================================
  6.0 - Footer
   ========================================================================== */
/* ==========================================================================
  7.0 - HOME
   ========================================================================== */

/* ==========================================================================
  -1 - Responsive
   ========================================================================== */
/* XXX-Large devices (large desktops, less than 1800px) */

@media (max-width: 1799.98px) {
    /* ==========================================================================
     1.0  Variables
     ========================================================================== */
    /* ==========================================================================
      2.0 - Reset
       ========================================================================== */
    /* ==========================================================================
      3.0 - Fonts
       ========================================================================== */
    /* ==========================================================================
      4.0 - Globals
       ========================================================================== */
    /* ==========================================================================
       5.0 - Header
       ========================================================================== */
    /* ==========================================================================
      6.0 - Footer
       ========================================================================== */
    /* ==========================================================================
      7.0 - HOME
       ========================================================================== */
  }
  
  
  /* XX-Large devices (large desktops, less than 1600px) */
  
  @media (max-width: 1599.98px) {
    /* ==========================================================================
     1.0  Variables
     ========================================================================== */
  /* ==========================================================================
    2.0 - Reset
     ========================================================================== */
  /* ==========================================================================
    3.0 - Fonts
     ========================================================================== */
  /* ==========================================================================
    4.0 - Globals
     ========================================================================== */
  /* ==========================================================================
     5.0 - Header
     ========================================================================== */
  /* ==========================================================================
    6.0 - Footer
     ========================================================================== */
  /* ==========================================================================
    7.0 - HOME
     ========================================================================== */
  }
  
  
  /* X-Large devices (large desktops, less than 1400px) */
  
  @media (max-width: 1399.98px) {
    /* ==========================================================================
     1.0  Variables
     ========================================================================== */
  /* ==========================================================================
    2.0 - Reset
     ========================================================================== */
  /* ==========================================================================
    3.0 - Fonts
     ========================================================================== */
  /* ==========================================================================
    4.0 - Globals
     ========================================================================== */
  /* ==========================================================================
     5.0 - Header
     ========================================================================== */
  /* ==========================================================================
    6.0 - Footer
     ========================================================================== */
  /* ==========================================================================
    7.0 - HOME
     ========================================================================== */
  }
  
  
  /* Large devices (desktops, less than 1200px) */
  
  @media (max-width: 1199.98px) {
    /* ==========================================================================
     1.0  Variables
     ========================================================================== */
  /* ==========================================================================
    2.0 - Reset
     ========================================================================== */
  /* ==========================================================================
    3.0 - Fonts
     ========================================================================== */
  /* ==========================================================================
    4.0 - Globals
     ========================================================================== */
  /* ==========================================================================
     5.0 - Header
     ========================================================================== */
  /* ==========================================================================
    6.0 - Footer
     ========================================================================== */
  /* ==========================================================================
    7.0 - HOME
     ========================================================================== */
  }
  
  
  /* Medium devices (tablets, less than 992px) */
  
  @media (max-width: 991.98px) {
    /* ==========================================================================
     1.0  Variables
     ========================================================================== */
  /* ==========================================================================
    2.0 - Reset
     ========================================================================== */
  /* ==========================================================================
    3.0 - Fonts
     ========================================================================== */
  /* ==========================================================================
    4.0 - Globals
     ========================================================================== */
  /* ==========================================================================
     5.0 - Header
     ========================================================================== */
  /* ==========================================================================
    6.0 - Footer
     ========================================================================== */
  /* ==========================================================================
    7.0 - HOME
     ========================================================================== */
  }
  
  
  /* Small devices (landscape phones, less than 768px) */
  
  @media (max-width: 768.98px) {
    /* ==========================================================================
     1.0  Variables
     ========================================================================== */
  /* ==========================================================================
    2.0 - Reset
     ========================================================================== */
  /* ==========================================================================
    3.0 - Fonts
     ========================================================================== */
  /* ==========================================================================
    4.0 - Globals
     ========================================================================== */
  /* ==========================================================================
     5.0 - Header
     ========================================================================== */
  /* ==========================================================================
    6.0 - Footer
     ========================================================================== */
  /* ==========================================================================
    7.0 - HOME
     ========================================================================== */
  }
  
  /* Small applies to x-small devices (portrait phones, less than 576px) */
  
  @media (max-width: 575.98px) {
    /* ==========================================================================
     1.0  Variables
     ========================================================================== */
  /* ==========================================================================
    2.0 - Reset
     ========================================================================== */
  /* ==========================================================================
    3.0 - Fonts
     ========================================================================== */
  /* ==========================================================================
    4.0 - Globals
     ========================================================================== */
  /* ==========================================================================
     5.0 - Header
     ========================================================================== */
  /* ==========================================================================
    6.0 - Footer
     ========================================================================== */
  /* ==========================================================================
    7.0 - HOME
     ========================================================================== */
  }
  
  
  /* Small applies to x-small devices (portrait phones, less than 321px) */
  
  @media (max-width: 320.98px) {
    /* ==========================================================================
     1.0  Variables
     ========================================================================== */
  /* ==========================================================================
    2.0 - Reset
     ========================================================================== */
  /* ==========================================================================
    3.0 - Fonts
     ========================================================================== */
  /* ==========================================================================
    4.0 - Globals
     ========================================================================== */
  /* ==========================================================================
     5.0 - Header
     ========================================================================== */
  /* ==========================================================================
    6.0 - Footer
     ========================================================================== */
  /* ==========================================================================
    7.0 - HOME
     ========================================================================== */
  }